body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: #e2f2ff;
    
}

#welcome {
    text-align: center;
    font-size: 1.7rem;
    color: #8d67f4
    
}

.infoBar{
    background-color: rgb(103, 185, 186);
    color: rgb(255, 255, 255);
}

#display {
    display: inline-block;
    margin-left: 2rem;
    
}

#pb{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#score{
    display: inline-block;
    margin-right: 3rem;
    position: absolute;
    right: 0px;



}

#svgMap {
    background-color: azure;
}

svg {
    height: 500px;
    width: 1000px;
    margin-left: 15rem;
}


.button {
    display : inline-block;
  }

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
   
  }
  
  .button {
    background-color: #4CAF50; 
    color: white; 
    border-radius: 7px;
  }
  
  .button:hover {
    background-color: white;
    color: black;
  }
  
  #prev {
    position: absolute;
    left: 7%;
    transform: translateX(-50%);

  }

  #again {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #next {
    position: absolute;
    left: 93%;
    transform: translateX(-50%);
  }